openapi: "3.0.0"
info:
  version: "1.0.0"
  title: "Datenplattform Darmstadt API"
  description: "Datenplattform der Wissenschaftsstadt Darmstadt

  Die Datenplattform soll nach Angaben der Digitalstadt Darmstadt GmbH zum Sammeln, Verarbeiten, Vernetzen, Analysieren und Visualisieren von Daten aus dem städtischen Alltag dienen.


  Die Plattform ging im Februar 2021 online und die Kosten sollen sich in den Jahren 2020-2026 auf maximal 6,3 Mio. Euro (!) belaufen. Hierbei ist die Datenplattform nicht Open Source, es sollen allerdings 'einzelne Bestandteile' gesondert als Open Source zur Verfügung gestellt werden [[Quelle](https://www.digitalstadt-darmstadt.de/datenplattform-beteiligung/)].

 ### CORS

  Die Datenplattform verfügt leider nicht über einen `Access-Control-Allow-Origin: *` Header. Daher funktionieren die Testabfragen innerhalb der Swagger UI nicht. Die angegebenen `CURL`-Befehle funktionieren in einer Konsole.


  Zum Testen kann ein kostenloser CORS-Service verwendet werden (siehe Serverauswahl). Dieser CORS-Server wird von imjacobclark zur Verfügung gestellt. Die Abfragegeschwindigkeit ist reduziert [[GitHub](https://github.com/imjacobclark/cors-container)].

  ### [Link zur Datenplattform](https://datenplattform.darmstadt.de/#!/tiles/)

  "

  contact:
    name: "Digitalstadt Darmstadt GmbH"
    url: "https://www.digitalstadt-darmstadt.de/"
    email: "datenplattform@digitalstadt-darmstadt.de"
  license:
    name: Nutzungsbedingungen
    url: https://datenplattform.darmstadt.de/legal/nutzungsbedingungen.html

servers:
  - url: "https://datenplattform.darmstadt.de"
  - url : "https://cors-container.herokuapp.com/https://datenplattform.darmstadt.de"
    description: Enable CORS with free CORS-Container
tags:
  - name: Map
  - name: Klimaherzen
  - name: Corona
  - name: Open Weather
  - name: Smart Waste
  - name: Environment Data
  - name: Events
  - name: Traffic Directions
  - name: Traffic

paths:
  /Map/layers/1/features:
    get:
      summary: "Öffentliche WLAN Hotspots"
      description: "Übersicht über die öffentlich WLAN Hotspots"
      operationId: getPublicWlanHotspots
      tags:
        - Map
      parameters:
        - in: query
          name: filter
          explode: false
          schema:
            type: array
            items:
              type: string
          examples:
            Kein Filter:
              value: []
            areaName:
              value: [areaName]

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicwlanhotspots"



  /Map/layers/2/features:
    get:
      summary: "Temperatur"
      description: "Temperaturdaten"
      operationId: getEnvironmentTemperature
      tags:
        - Map
      parameters:
        - $ref: "#/components/parameters/filter"

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/environment.temperature"


  /Map/layers/3/features:
    get:
      summary: "Wassertemperatur"
      description: "Wassertemperatur im Woog"
      operationId: getEnvironmentWatertemperature
      tags:
        - Map
      parameters:
        - $ref: "#/components/parameters/filter"

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/environment.watertemperature"

  /Map/layers/4/features:
    get:
      summary: "Wetter Darmstadt"
      description: "Wetter in Darmstadt"
      operationId: getWeather
      tags:
        - Map
      parameters:
        - in: query
          name: filter
          explode: false
          schema:
            type: array
            items:
              type: string
          examples:
            Kein Filter:
              value: []
            temp-city:
              value: [temp,city]
              description: Temperatur, Stadt
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/weather"



  /Map/layers/5/features:
    get:
      summary: "Glasscontainer"
      description: "Füllstand der Glasscontainer in Darmstadt"
      operationId: getGlassContainer
      tags:
        - Map
      parameters:
        - in: query
          name: filter
          explode: false
          schema:
            type: array
            items:
              type: string
          examples:
            Kein Filter:
              value: []
            value-location-status:
              value: [value, location, status]
              description: Wert, Ort, Status
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/glasscontainer"

  /Map/layers/6/features:
    get:
      deprecated: true
      summary: "PM10"
      description: "PM10 Messstellen"
      operationId: getPM10
      tags:
        - Map
      parameters:
        - $ref: "#/components/parameters/filter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/environment.dust_pm10"

  /Map/layers/7/features:
    get:
      deprecated: true
      summary: "NO2"
      description: "NO2 Messstellen"
      operationId: getNO2
      tags:
        - Map
      parameters:
        - $ref: "#/components/parameters/filter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/environment.no2"

  /Map/layers/8/features:
    get:
      deprecated: true
      summary: "O3"
      description: "O3 Messstellen"
      operationId: getO3
      tags:
        - Map
      parameters:
        - $ref: "#/components/parameters/filter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/environment.o3"

  /Map/layers/9/features:
    get:
      summary: "Verkehrslage"
      description: "Messstellen und Informationen zur Verkehrslage"
      operationId: getTraffic
      tags:
        - Map
      parameters:
        - in: query
          name: filter
          explode: false
          schema:
            type: array
            items:
              type: string
          examples:
            Kein Filter:
              value: []
            state:
              value: [state]
              description: State
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/traffic"


  /Map/layers/2/features/14:
  # TODO
    get:
      summary: "Datenabfrage"
      description: "O3 Messstellen"
      operationId: getO3_2
      tags:
        - Map
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/environment.temperature"

  /Corona/events:
    get:
      summary: "Coronazahlen"
      description: "Aktuelle Coronafallzahlen aus Darmstadt"
      operationId: getEventsCorona
      tags:
        - Corona
      parameters:
        - $ref: "#/components/parameters/date"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/corona-events"

  /SmartWaste/events:
    get:
      summary: "Smart Waste"
      description: "Aktuelle Coronafallzahlen aus Darmstadt"
      operationId: getEventsSmartWaste
      tags:
        - Smart Waste
      parameters:
        - $ref: "#/components/parameters/date"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/smartwaste-events"

  /OpenWeatherMap/events:
    get:
      summary: "Open Weather"
      description: "Open Weather für Darmstadt"
      operationId: getEventsOpenWeather
      tags:
        - Open Weather
      parameters:
        - $ref: "#/components/parameters/date"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/open-weather-events"

  /EnvironmentGeneric/events:
    get:
      summary: "Environment Data"
      description: "Median oder historische Daten der Umweltsensoren von Darmstadt"
      operationId: getEventsEnvironmentData
      tags:
        - Environment Data
      parameters:
        - $ref: "#/components/parameters/date"
        - $ref: "#/components/parameters/since"
        - $ref: "#/components/parameters/until"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                  anyOf:
                    - $ref: "#/components/schemas/enviroment-events"
                    - $ref: "#/components/schemas/enviroment-historic-events"


  /ZTIXEventCalendar/events:
    get:
      summary: "Events ZTIX"
      description: "Zeigt Events von [ZTIX](https://www.ztix.de/hp/) an."
      operationId: getEventsZTIX
      tags:
        - Events
      parameters:
        - $ref: "#/components/parameters/date"
      responses:
        "200":
          description: OK


  /Klimaherzen/events:
    get:
      summary: "Klimaherzen Daten"
      description: "Zeigt Daten rund um die Klimaherzen-Aktion an. Die Daten werden mithilfe der App 'Darmstadt im Herzen' gesammelt [[Link](https://www.darmstadtimherzen.de/leben-in-darmstadt/darmstadt-im-herzen-app/)]."
      operationId: getEventsKlimaherzen
      tags:
        - Klimaherzen
      parameters:
        - $ref: "#/components/parameters/date"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/klimaherzen-events"


  /TrafficDirections/events:
     get:
      summary: "Verkehrsdaten"
      description: "Aufgrund von 12 großen Kreuzungen um Darmstadt wird der Eingangs- und Ausgangsverkehr erfasst und in Relation gesetzt. "
      operationId: getEventsTraffic
      tags:
        - Traffic Directions
      parameters:
        - $ref: "#/components/parameters/date"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/traffic-events"

  /verkehr/apps/backend/sensordata:
    get:
      summary: "Verkehrsdaten"
      description: "Die Werte für die Verkehrszählung stammen aus dem Verkehrsleitsystem. Die Daten sind im CSV-Format verfügbar und werden jede Minute aktualisiert."
      operationId: getTrafficData
      tags:
        - Traffic
      parameters:
        - $ref: "#/components/parameters/since"
        - $ref: "#/components/parameters/until"
        - $ref: "#/components/parameters/lsa"
        - $ref: "#/components/parameters/customHeaders"
      responses:
        "200":
          description: OK
          # content:
          #   application/json:
          #     schema:
          #       $ref: "#/components/schemas/traffic-events"

  /verkehr/apps/backend/config:
    get:
      summary: "Sensor Konfiguration"
      description: "Sensor Konfiguration"
      operationId: getTrafficSensorConfig
      tags:
        - Traffic
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/traffic-config"

components:
  schemas:
    publicwlanhotspots:
        type: object
        properties:
          publicwlanhotspots:
            type: array
            items:
              type: object
              properties:
                id:
                  type: number
                  format: int32
                  example: 1
                identifier:
                  type: string
                  example: Wilhelminenstraße
                geometry:
                  type: object
                  properties:
                    type:
                      type: string
                      example: Polygon
                    coordinates:
                      type: array
                      items:
                        type: array
                        items:
                          type: array
                          example: [ 8.65083, 49.87384]
                          items:
                            type: number
                content:
                  type: object
                  properties:
                    areaName:
                      type: string
                      example: Wilhelminenstraße

    environment.temperature:
        type: object
        properties:
            environment.temperature:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                    format: int32
                    example: 14
                  identifier:
                    type: string
                    example: 70B3D5FFFEBF64CA_temperature
                  lng:
                    type: number
                    example: 8.67022277
                  lat:
                    type: number
                    example: 49.8729462
                  content:
                    type: object
                    properties:
                      deviceName:
                        type: string
                        example: 70B3D5FFFEBF64CA

    environment.watertemperature:
        type: object
        properties:
          environment.watertemperature:
            type: array
            items:
              type: object
              properties:
                id:
                  type: number
                  format: int32
                  example: 13
                identifier:
                  type: string
                  example: 70B3D5FFFEBF64CA_watertemperature
                lng:
                  type: number
                  example: 8.67022277
                lat:
                  type: number
                  example: 49.8729462
                content:
                  type: object
                  properties:
                    deviceType:
                      type: string
                      example: Waterquality
                    layerTitle:
                      type: string
                      example: watertemperature
                    sensorLabel:
                      type: string
                      example: watertemperature
                    lon:
                      type: number
                      example: 8.67022277
                    rawTimestamp:
                      type: string
                      format: date-time
                      example: "2022-08-26T17:01:27.081+0000"
                    deviceName:
                      type: string
                      example: 70B3D5FFFEBF64CA
                    SID:
                      type: string
                      example: 2af4f631-237f-449e-bdd9-516351d13a4f
                    featureIdentifier:
                      type: string
                      example: 70B3D5FFFEBF64CA_watertemperature
                    belowThreshold:
                      type: string
                      nullable: true
                    unit:
                      type: string
                      nullable: true
                    layerName:
                      type: string
                      example: environment.watertemperature
                    value:
                      type: number
                      example: 25.670000076293945
                    lat:
                      type: number
                      example: 49.8729462
                    timestamp:
                      type: string
                      format: date-time
                      example: "2022-08-26T17:01:27.252+0000"
                    upSensorDescription:
                      type: object
                      properties:
                        reference:
                          type: object
                          properties:
                            deviceName:
                              type: string
                              example: 70B3D5FFFEBF64CA
                            sensorLabel:
                              type: string
                              example: watertemperature

    weather:
        type: object
        properties:
          weather.Darmstadt:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                    example: 111
                  identifier:
                    type: string
                    example: 9d4d7a0f-aa19-4eb2-9d70-ff78eff2879a
                  lng:
                    type: number
                    example: 8.6494
                  lat:
                    type: number
                    example: 49.8706
                  content:
                    type: object
                    properties:
                      temp:
                        type: number
                        example: 10.55
                      sunrise:
                        type: string
                        format: date-time
                        example: "2022-09-29T05:21:52.000+0000"
                      weather_id:
                        type: number
                        example: 804
                      visibility:
                        type: number
                        example: 6000
                      city:
                        type: string
                        example: Darmstadt
                      countrycode:
                        type: string
                        example: DE
                      lon:
                        type: number
                        example: 8.6494
                      pressure:
                        type: number
                        example: 1003
                      clouds:
                        type: number
                        example: 100
                      weather_icon:
                        type: string
                        example: 04d
                      temp_max:
                        type: number
                        example: 13.87
                      SID:
                        type: string
                        example: 9d4d7a0f-aa19-4eb2-9d70-ff78eff2879a
                      featureIdentifier:
                        type: string
                        example: 9d4d7a0f-aa19-4eb2-9d70-ff78eff2879a
                      zipcode:
                        type: string
                        example: "64293"
                      _headers:
                        type: object
                        properties:
                          eventType:
                            type: string
                            example: OpenWeatherMapEventType
                      temp_min:
                        type: number
                        example: 7.7
                      wind_deg:
                        type: number
                        example: 220
                      sunset:
                        type: string
                        format: date-time
                        example: "2022-09-29T17:09:36.000+0000"
                      humidity:
                        type: number
                        example: 79
                      wind_speed:
                        type: number
                        example: 1.54
                      layerName:
                        type: string
                        example: weather.Darmstadt
                      lat:
                        type: number
                        example: 49.8706
                      timestamp:
                        type: string
                        format: date-time
                        example: "2022-09-29T09:25:14.538+0000"

    glasscontainer:
      type: object
      properties:
        wasteGlass:
          type: array
          items:
            type: object
            properties:
              id:
                type: number
                example: 648
              identifier:
                type: string
                example: "2027597"
              lng:
                type: number
                example: 8.674068
              lat:
                type: number
                example: 49.896324
              content:
                type: object
                properties:
                  layerTitle:
                    type: string
                    example: WasteGlass
                  otherTypes:
                    type: array
                    example: []
                  location:
                    type: string
                    example: Borsdorffstraße / Strahringerplatz | An der Straßenbahnhaltestelle
                  lon:
                    type: number
                    example: 8.674068
                  layerName:
                    type: string
                    example: wasteGlass
                  value:
                    type: number
                    example: 99
                  lat:
                    type: number
                    example: 49.896324
                  SID:
                    type: string
                    example: 723bd39b-f03d-40e0-b5a9-87cc847e8002
                  timestamp:
                    type: string
                    format: date-time
                    example: "2022-07-19T07:01:00.705+0000"
                  featureIdentifier:
                    type: string
                    example: "2027597"
                  status:
                    type: string
                    example: full

    environment.dust_pm10:
      type: object
      properties:
        environment.dust_pm10:
            type: array
            items:
              type: object
              properties:
                id:
                  type: number
                  example: 331
                identifier:
                  type: string
                  example: 0115_dust_pm10
                lng:
                  type: number
                  example: 8.6537515
                lat:
                  type: number
                  example: 49.86945564
                content:
                  type: object
                  properties:
                    deviceType:
                      type: string
                      example: HLNUG
                    layerTitle:
                      type: string
                      example: dust_pm10
                    sensorLabel:
                      type: string
                      example: dust_pm10
                    lon:
                      type: number
                      example: 8.6537515
                    rawTimestamp:
                      type: string
                      format: date-time
                      example: "2022-09-29T09:00:00.000+0000"
                    deviceName:
                      type: string
                      example: "0115"
                    SID:
                      type: string
                      example: 81d93124-e972-43d0-b0af-4870ebc93fe2
                    featureIdentifier:
                      type: string
                      example: 0115_dust_pm10
                    belowThreshold:
                      type: boolean
                    unit:
                      type: string
                      example: µg/m³
                    layerName:
                      type: string
                      example: environment.dust_pm10
                    value:
                      type: number
                      example: 20.7
                    lat:
                      type: number
                      example: 49.86945564
                    timestamp:
                      type: string
                      format: date-time
                      example: "2022-09-29T09:31:23.828+0000"
                    upSensorDescription:
                      type: object
                      properties:
                        reference:
                          type: object
                          properties:
                            station:
                              type: string
                              example: "0115"
                            eventName:
                              type: string
                              example: pm10

    environment.no2:
      type: object
      properties:
        environment.no2:
          type: array
          items:
            type: object
            properties:
              id:
                type: number
                example: 551
              identifier:
                type: string
                example: 0115_no2
              lng:
                type: number
                example: 8.6537515
              lat:
                type: number
                example: 49.86945564
              content:
                type: object
                properties:
                  deviceType:
                    type: string
                    example: HLNUG
                  layerTitle:
                    type: string
                    example: no2
                  sensorLabel:
                    type: string
                    example: no2
                  lon:
                    type: number
                    example: 8.6537515
                  rawTimestamp:
                    type: string
                    format: date-time
                    example: "2022-09-29T09:00:00.000+0000"
                  deviceName:
                    type: string
                    example: "0115"
                  SID:
                    type: string
                    example: 20365e06-9fe9-4f0b-8e0d-29ad4620fba1
                  featureIdentifier:
                    type: string
                    example: 0115_no2
                  belowThreshold:
                    type: boolean
                  unit:
                    type: string
                    example: µg/m³
                  layerName:
                    type: string
                    example: environment.no2
                  value:
                    type: number
                    example: 22.1
                  lat:
                    type: number
                    example: 49.86945564
                  timestamp:
                    type: string
                    format: date-time
                    example: "2022-09-29T09:36:23.828+0000"
                  upSensorDescription:
                    type: object
                    properties:
                      reference:
                        type: object
                        properties:
                          station:
                            type: string
                            example: "0115"
                          eventName:
                            type: string
                            example: no2

    environment.o3:
      type: object
      properties:
        environment.o3:
          type: array
          items:
            type: object
            properties:
              id:
                type: number
                example: 441
              identifier:
                type: string
                example: 0104_o3
              lng:
                type: number
                example: 8.66461944
              lat:
                type: number
                example: 49.87230278
              content:
                type: object
                properties:
                  deviceType:
                    type: string
                    example: HLNUG
                  layerTitle:
                    type: string
                    example: o3
                  sensorLabel:
                    type: string
                    example: o3
                  lon:
                    type: number
                    example: 8.66461944
                  rawTimestamp:
                    type: string
                    format: date-time
                    example: "2022-09-29T09:00:00.000+0000"
                  deviceName:
                    type: string
                    example: "0104"
                  SID:
                    type: string
                    example: 03ecbcf4-564e-4a3d-9845-ed6a9d25036b
                  featureIdentifier:
                    type: string
                    example: 0104_o3
                  belowThreshold:
                    type: boolean
                  unit:
                    type: string
                    example: µg/m³
                  layerName:
                    type: string
                    example: environment.o3
                  value:
                    type: number
                    example: 18.2
                  lat:
                    type: number
                    example: 49.87230278
                  timestamp:
                    type: string
                    format: date-time
                    example: "2022-09-29T09:36:23.828+0000"
                  upSensorDescription:
                    type: object
                    properties:
                      reference:
                        type: object
                        properties:
                          station:
                            type: string
                            example: "0104"
                          eventName:
                            type: string
                            example: o3

    traffic:
      type: object
      properties:
        trafficCongestion:
            type: array
            items:
              type: object
              properties:
                id:
                  type: number
                  example: 224
                identifier:
                  type: string
                  example: "120682496"
                geometry:
                  type: object
                  properties:
                    type:
                      type: string
                      example: LineString
                    coordinates:
                      type: array
                      items:
                        type: array
                        example: [8.6575842,49.8834932]
                        items:
                          type: number
                content:
                  type: object
                  properties:
                    wayID:
                      type: number
                      example: 120682496
                    layerName:
                      type: string
                      example: trafficCongestion
                    state:
                      type: string
                      nullable: true
                      example: FAIR
                    SID:
                      type: string
                      example: 8845b203-17e6-463f-be22-eddc39764435
                    featureIdentifier:
                      type: string
                      example: "120682496"
                    timestamp:
                      type: string
                      format: date-time
                      example: 2022-09-29T09:36:17.234+0000
                    upSensorDescription:
                      type: object
                      properties:
                        reference:
                          type: object
                          properties:
                            wayID:
                              type: number
                              example: 120682496
                        geoJson:
                          type: object
                          properties:
                            type:
                              type: string
                              example: Feature
                            properties:
                              type: object
                              example: {}
                            geometry:
                              type: object
                              properties:
                                type:
                                  type: string
                                  example: LineString
                                coordinates:
                                  type: array
                                  items:
                                    type: array
                                    items:
                                      type: number
                                      example: 8.6575842

    corona-events:
        type: object
        properties:
          events:
            type: array
            items:
              type: object
              properties:
                infected:
                  type: number
                  example: 1950
                secondVaccinationHistory:
                  type: array
                  items:
                    type: number
                    example: 75916
                firstVaccinationHistory:
                  type: array
                  items:
                    type: number
                    example: 80371
                deceased_80+:
                  type: object
                  properties:
                    female:
                      type: number
                      example: 82
                    male:
                      type: number
                      example: 60
                deceased:
                  type: number
                  format: int32
                  example: 229
                secondVaccination:
                  type: number
                  format: int32
                  example: 75916
                sevenDayIncidencePer100k:
                  type: number
                  example: 234.96299646927264
                firstVaccination:
                  type: number
                  format: int32
                  example: 80371
                deceased_0_34:
                  type: object
                  properties:
                    female:
                      type: number
                      example: 0
                    male:
                      type: number
                      example: 0
                deceased_35_59:
                  type: object
                  properties:
                    female:
                      type: number
                      example: 3
                    male:
                      type: number
                      example: 7
                rawTimestamp:
                  type: string
                  format: date-time
                  example: "2022-08-29T11:41:40.022Z"
                sevenDayIncidencePer100kHistory:
                  type: array
                  items:
                    type: number
                    example: 234.96299646927264
                SID:
                  type: string
                  example: f0850ce9-be04-491a-a21b-8e4190976d13
                _headers:
                  type: object
                  properties:
                    eventType:
                      type: string
                      example: CoronaComprehensiveEventType
                deceased_60_79:
                  type: object
                  properties:
                    female:
                      type: number
                      example: 24
                    male:
                      type: number
                      example: 53
                region:
                  type: string
                  example: SK Darmstadt
                infectedHistory:
                  type: array
                  items:
                    type: number
                    example: 1950
                timestamp:
                  type: string
                  format: date-time
                  example: "2022-08-29T11:41:41.656+00:00"

    smartwaste-events:
        type: object
        properties:
          events:
            type: array
            items:
              type: object
              properties:
                connected:
                  type: number
                  format: int32
                  example: 88
                volume:
                  type: number
                  example: 176.76
                fractions:
                  type: object
                  properties:
                    PPK:
                      type: number
                      example: 0.4
                    LVP:
                      type: number
                      example: 0.36
                    Restmuell:
                      type: number
                      example: 0.2
                    Glas:
                      type: number
                      example: 0
                    Bio:
                      type: number
                      example: 0.04
                rateRecyclPercentage:
                  type: number
                  example: 0.8
                rateNonRecyclPercentage:
                  type: number
                  example: 0.2
                recycleSumVolumeFromLast24HoursInQm3:
                  type: number
                  example: 43.64
                nonRecycleSumVolumeFromLast24HoursInQm3:
                  type: number
                  example: 21.56
                timestamp:
                  type: string
                  format: date-time
                  example: "2022-08-29T13:22:04.754+00:00"

    open-weather-events:
        type: object
        properties:
          events:
            type: array
            items:
              type: object
              properties:
                9d4d7a0f-aa19-4eb2-9d70-ff78eff2879a:
                  type: object
                  properties:
                    temp:
                      type: number
                      example: 26.28
                    sunrise:
                      type: string
                      format: date-time
                      example: 2022-08-29T04:36:03.000+0000
                    weather_id:
                      type: number
                      example: 800
                    visibility:
                      type: number
                      example: 10000
                    city:
                      type: string
                      example: Darmstadt
                    countrycode:
                      type: string
                      example: DE
                    lon:
                      type: number
                      example: 8.6494
                    pressure:
                      type: number
                      example: 1020
                    clouds:
                      type: number
                      example: 0
                    weather_icon:
                      type: string
                      example: 01d
                    temp_max:
                      type: number
                      example: 28.75
                    SID:
                      type: string
                      example: 9d4d7a0f-aa19-4eb2-9d70-ff78eff2879a
                    zipcode:
                      type: string
                      example: "64293"
                    _headers:
                      type: object
                      properties:
                        eventType:
                          type: string
                          example: OpenWeatherMapEventType
                    temp_min:
                      type: number
                      example: 24.86
                    wind_deg:
                      type: number
                      example: 0
                    sunset:
                      type: string
                      format: date-time
                      example: 2022-08-29T18:17:12.000+0000
                    humidity:
                      type: number
                      example: 55
                    wind_speed:
                      type: number
                      example: 2.57
                    lat:
                      type: number
                      example: 49.8706
                    timestamp:
                      type: string
                      format: date-time
                      example: 2022-08-29T13:22:14.503+0000
                timestamp:
                  type: string
                  example: 2022-08-29T13:22:15.039+00:00

    enviroment-events:
        type: object
        properties:
          events:
            type: array
            items:
              type: object
              properties:
                Darmstadt:
                  type: object
                  properties:
                    no2:
                      type: object
                      properties:
                        deviceType:
                          type: string
                          example: Median
                        sensorLabel:
                          type: string
                          example: no2
                        precision:
                          type: number
                          example: 1
                        lon:
                          type: number
                          example: 8.65918547
                        rawTimestamp:
                          type: string
                          format: date-time
                          example: 2022-08-29T13:00:00.000+0000
                        deviceName:
                          type: string
                          example: Darmstadt
                        SID:
                          type: string
                          example: 3ac073c4-b5b8-421d-b91a-5aa001234f7e
                        _headers:
                          type: object
                          properties:
                            eventType:
                              type: string
                              example: GenericEnvironmentAvgEventType
                        belowThreshold:
                          type: boolean
                        unit:
                          type: string
                          example: µg/m³
                        value:
                          type: number
                          example: 20.2
                        lat:
                          type: number
                          example: 49.870879210000005
                        timestamp:
                          type: string
                          format: date-time
                          example: 2022-08-29T13:20:39.253+0000
                    o3:
                      type: object
                      properties:
                        deviceType:
                          type: string
                          example: Median
                        sensorLabel:
                          type: string
                          example: o3
                        precision:
                          type: number
                          example: 1
                        lon:
                          type: number
                          example: 8.66461944
                        rawTimestamp:
                          type: string
                          format: date-time
                          example: 2022-08-29T13:00:00.000+0000
                        deviceName:
                          type: string
                          example: Darmstadt
                        SID:
                          type: string
                          example: 3ac073c4-b5b8-421d-b91a-5aa001234f7e
                        _headers:
                          type: object
                          properties:
                            eventType:
                              type: string
                              example: GenericEnvironmentAvgEventType
                        belowThreshold:
                          type: boolean
                        unit:
                          type: string
                          example: µg/m³
                        value:
                          type: number
                          example: 105.1
                        lat:
                          type: number
                          example: 49.87230278
                        timestamp:
                          type: string
                          format: date-time
                          example: 2022-08-29T13:20:39.253+0000
                    dust_pm2.5:
                      type: object
                      properties:
                        deviceType:
                          type: string
                          example: Median
                        sensorLabel:
                          type: string
                          example: dust_pm2.5
                        precision:
                          type: number
                          example: 1
                        lon:
                          type: number
                          example: 8.65918547
                        rawTimestamp:
                          type: string
                          format: date-time
                          example: 2022-08-29T13:00:00.000+0000
                        deviceName:
                          type: string
                          example: Darmstadt
                        SID:
                          type: string
                          example: 3ac073c4-b5b8-421d-b91a-5aa001234f7e
                        _headers:
                          type: object
                          properties:
                            eventType:
                              type: string
                              example: GenericEnvironmentAvgEventType
                        belowThreshold:
                          type: boolean
                        unit:
                          type: string
                          example: µg/m³
                        value:
                          type: number
                          example: 5.4
                        lat:
                          type: number
                          example: 49.870879210000005
                        timestamp:
                          type: string
                          format: date-time
                          example: 2022-08-29T13:20:39.253+0000
                    so2:
                      type: object
                      properties:
                        deviceType:
                          type: string
                          example: Median
                        sensorLabel:
                          type: string
                          example: so2
                        precision:
                          type: number

                          example: 1
                        lon:
                          type: number
                          example: 8.66461944
                        rawTimestamp:
                          type: string
                          format: date-time
                          example: 2022-08-29T13:00:00.000+0000
                        deviceName:
                          type: string
                          example: Darmstadt
                        SID:
                          type: string
                          example: 3ac073c4-b5b8-421d-b91a-5aa001234f7e
                        _headers:
                          type: object
                          properties:
                            eventType:
                              type: string
                              example: GenericEnvironmentAvgEventType
                        belowThreshold:
                          type: boolean
                        unit:
                          type: string
                          example: µg/m³
                        value:
                          type: number
                          example: 0.8
                        lat:
                          type: number
                          example: 49.87230278
                        timestamp:
                          type: string
                          format: date-time
                          example: 2022-08-29T13:20:39.253+0000
                    dust_pm10:
                      type: object
                      properties:
                        deviceType:
                          type: string
                          example: Median
                        sensorLabel:
                          type: string
                          example: dust_pm10
                        precision:
                          type: number
                          example: 1
                        lon:
                          type: number
                          example: 8.65918547
                        rawTimestamp:
                          type: string
                          format: date-time
                          example: 2022-08-29T13:00:00.000+0000
                        deviceName:
                          type: string
                          example: Darmstadt
                        SID:
                          type: string
                          example: 3ac073c4-b5b8-421d-b91a-5aa001234f7e
                        _headers:
                          type: object
                          properties:
                            eventType:
                              type: string
                              example: GenericEnvironmentAvgEventType
                        belowThreshold:
                          type: boolean
                        unit:
                          type: string
                          example: µg/m³
                        value:
                          type: number
                          example: 13.35
                        lat:
                          type: number
                          example: 49.870879210000005
                        timestamp:
                          type: string
                          format: date-time
                          example: 2022-08-29T13:20:39.253+0000
                    co:
                      type: object
                      properties:
                        deviceType:
                          type: string
                          example: Median
                        sensorLabel:
                          type: string
                          example: co
                        precision:
                          type: number
                          example: 1
                        lon:
                          type: number
                          example: 8.65918547
                        rawTimestamp:
                          type: string
                          format: date-time
                          example: 2022-08-29T13:00:00.000+0000
                        deviceName:
                          type: string
                          example: Darmstadt
                        SID:
                          type: string
                          example: 3ac073c4-b5b8-421d-b91a-5aa001234f7e
                        _headers:
                          type: object
                          properties:
                            eventType:
                              type: string
                              example: GenericEnvironmentAvgEventType
                        belowThreshold:
                          type: boolean
                        unit:
                          type: string
                          example: mg/m³
                        value:
                          type: number
                          example: 0.22
                        lat:
                          type: number
                          example: 49.870879210000005
                        timestamp:
                          type: string
                          example: 2022-08-29T13:20:39.253+0000
                timestamp:
                  type: string
                  format: date-time
                  example: "2022-08-29T13:20:39.622+00:00"

    klimaherzen-events:
        type: object
        properties:
          events:
            type: array
            items:
              type: object
              properties:
                _headers:
                  type: object
                  properties:
                    eventType:
                      type: string
                      example: KlimaherzenAggregatedEventType
                savedCo2Emissions:
                  type: number
                  example: 95027.98580799998
                walking:
                  type: number
                  example: 148842.735
                cycling:
                  type: number
                  example: 219003.904
                id:
                  type: string
                  example: datalab_klimaherzen
                rawTimestamp:
                  type: string
                  format: date-time
                  example: "2022-08-30T09:00:02.216917+00:00"
                plantedTrees:
                  type: number
                  example: 2771
                timestamp:
                  type: string
                  format: date-time
                  example: "2022-08-30T09:00:02.862+00:00"
                SID:
                  type: string
                  example: 24f9a2f7-eed0-4870-94ed-aa5c8e1c9ec2
                publicTransport:
                  type: number
                  example: 306361.544

    traffic-events:
        type: object
        properties:
          events:
            type: array
            items:
              type: object
              properties:
                incomingTrafficMeasurements:
                  type: array
                  items:
                    type: object
                    properties:
                      hour:
                        type: number
                        example: 16
                      count:
                        type: number
                        example: 3616
                outgoingTrafficMeasurements:
                  type: array
                  items:
                    type: object
                    properties:
                      hour:
                        type: number
                        example: 16
                      count:
                        type: number
                        example: 3607
                timestamp:
                  type: string
                  format: date-time
                  example: "2022-08-29T13:22:06.024+00:00"

    enviroment-historic-events:
        type: object
        properties:
          events:
            type: array
            items:
              type: object
              properties:
                Darmstadt:
                  type: object
                  properties:
                    no2:
                      type: object
                      properties:
                        deviceType:
                          type: string
                          example: Median
                        sensorLabel:
                          type: string
                          example: no2
                        precision:
                          type: number
                          example: 1
                        lon:
                          type: number
                          example: 8.65918547
                        rawTimestamp:
                          type: string
                          format: date-time
                          example: 2022-08-27T21:30:00.000+0000
                        deviceName:
                          type: string
                          example: Darmstadt
                        SID:
                          type: string
                          example: 3ac073c4-b5b8-421d-b91a-5aa001234f7e
                        _headers:
                          type: object
                          properties:
                            eventType:
                              type: string
                              example: GenericEnvironmentAvgEventType
                        belowThreshold:
                          type: boolean
                        unit:
                          type: string
                          example: µg/m³
                        value:
                          type: number
                          example: 4.85
                        lat:
                          type: number
                          example: 49.870879210000005
                        timestamp:
                          type: string
                          format: date-time
                          example: 2022-08-27T21:55:39.253+0000
                    o3:
                      type: object
                      properties:
                        deviceType:
                          type: string
                          example: Median
                        sensorLabel:
                          type: string
                          example: o3
                        precision:
                          type: number
                          example: 1
                        lon:
                          type: number
                          example: 8.66461944
                        rawTimestamp:
                          type: string
                          format: date-time
                          example: 2022-08-27T21:30:00.000+0000
                        deviceName:
                          type: string
                          example: Darmstadt
                        SID:
                          type: string
                          example: 3ac073c4-b5b8-421d-b91a-5aa001234f7e
                        _headers:
                          type: object
                          properties:
                            eventType:
                              type: string
                              example: GenericEnvironmentAvgEventType
                        belowThreshold:
                          type: boolean
                        unit:
                          type: string
                          example: µg/m³
                        value:
                          type: number
                          example: 80.2
                        lat:
                          type: number
                          example: 49.87230278
                        timestamp:
                          type: string
                          format: date-time
                          example: 2022-08-27T21:55:39.253+0000
                    dust_pm2.5:
                      type: object
                      properties:
                        deviceType:
                          type: string
                          example: Median
                        sensorLabel:
                          type: string
                          example: dust_pm2.5
                        precision:
                          type: number
                          example: 1
                        lon:
                          type: number
                          example: 8.65918547
                        rawTimestamp:
                          type: string
                          format: date-time
                          example: 2022-08-27T21:30:00.000+0000
                        deviceName:
                          type: string
                          example: Darmstadt
                        SID:
                          type: string
                          example: 3ac073c4-b5b8-421d-b91a-5aa001234f7e
                        _headers:
                          type: object
                          properties:
                            eventType:
                              type: string
                              example: GenericEnvironmentAvgEventType
                        belowThreshold:
                          type: boolean
                        unit:
                          type: string
                          example: µg/m³
                        value:
                          type: number
                          example: 5.949999999999999
                        lat:
                          type: number
                          example: 49.870879210000005
                        timestamp:
                          type: string
                          format: date-time
                          example: 2022-08-27T21:55:39.253+0000
                    so2:
                      type: object
                      properties:
                        deviceType:
                          type: string
                          example: Median
                        sensorLabel:
                          type: string
                          example: so2
                        precision:
                          type: number
                          example: 1
                        lon:
                          type: number
                          example: 8.66461944
                        rawTimestamp:
                          type: string
                          format: date-time
                          example: 2022-08-27T21:30:00.000+0000
                        deviceName:
                          type: string
                          example: Darmstadt
                        SID:
                          type: string
                          example: 3ac073c4-b5b8-421d-b91a-5aa001234f7e
                        _headers:
                          type: object
                          properties:
                            eventType:
                              type: string
                              example: GenericEnvironmentAvgEventType
                        belowThreshold:
                          type: boolean
                        unit:
                          type: string
                          example: µg/m³
                        value:
                          type: number
                          example: 0.8
                        lat:
                          type: number
                          example: 49.87230278
                        timestamp:
                          type: string
                          format: date-time
                          example: 2022-08-27T21:55:39.253+0000
                    dust_pm10:
                      type: object
                      properties:
                        deviceType:
                          type: string
                          example: Median
                        sensorLabel:
                          type: string
                          example: dust_pm10
                        precision:
                          type: number
                          example: 1
                        lon:
                          type: number
                          example: 8.65918547
                        rawTimestamp:
                          type: string
                          format: date-time
                          example: 2022-08-27T21:30:00.000+0000
                        deviceName:
                          type: string
                          example: Darmstadt
                        SID:
                          type: string
                          example: 3ac073c4-b5b8-421d-b91a-5aa001234f7e
                        _headers:
                          type: object
                          properties:
                            eventType:
                              type: string
                              example: GenericEnvironmentAvgEventType
                        belowThreshold:
                          type: boolean
                        unit:
                          type: string
                          example: µg/m³
                        value:
                          type: number
                          example: 10.8
                        lat:
                          type: number
                          example: 49.870879210000005
                        timestamp:
                          type: string
                          format: date-time
                          example: 2022-08-27T21:55:39.253+0000
                    co:
                      type: object
                      properties:
                        deviceType:
                          type: string
                          example: Median
                        sensorLabel:
                          type: string
                          example: co
                        precision:
                          type: number
                          example: 1
                        lon:
                          type: number
                          example: 8.65918547
                        rawTimestamp:
                          type: string
                          format: date-time
                          example: 2022-08-27T21:30:00.000+0000
                        deviceName:
                          type: string
                          example: Darmstadt
                        SID:
                          type: string
                          example: 3ac073c4-b5b8-421d-b91a-5aa001234f7e
                        _headers:
                          type: object
                          properties:
                            eventType:
                              type: string
                              example: GenericEnvironmentAvgEventType
                        belowThreshold:
                          type: boolean
                        unit:
                          type: string
                          example: mg/m³
                        value:
                          type: number
                          example: 0.13
                        lat:
                          type: number
                          example: 49.870879210000005
                        timestamp:
                          type: string
                          format: date-time
                          example: "2022-08-27T21:55:39.253+0000"
                timestamp:
                  type: string
                  format: date-time
                  example: "2022-08-27T22:00:00.001+00:00"
          historicValuesCount:
            type: number
            example: 474

    traffic-config:
      type: array
      items:
        type: object
        properties:
          ID:
            type: string
            example: A001
          signalGroups:
            type: array
            items:
              type: object
              properties:
                Nr:
                  type: integer
                  format: int32
                  example: 1
                Name:
                  type: string
                  example: FV1
          detectors:
            type: array
            items:
              type: object
              properties:
                Nr:
                  type: integer
                  format: int32
                  example: 1
                Name:
                  type: string
                  example: D11

  parameters:
    filter:
        in: query
        name: filter
        explode: false
        schema:
          type: array
          items:
            type: string
        examples:
          Kein Filter:
            value: []
          deviceName:
            value: [deviceName]
            description: Gibt nur die Geräte und Geräteinformationen zurück

    date:
      in: query
      name: date
      required: true
      schema:
        type: string
        format: date-time
        example: "2022-08-29T13:22:40.063Z"

    since:
      in: query
      name: since
      required: false
      schema:
        type: string
        format: date-time
        example: "2022-08-27T22:33:00.000Z"

    until:
      in: query
      name: until
      required: false
      schema:
        type: string
        format: date-time
        example: "2022-08-29T13:33:00.000Z"

    lsa:
      in: query
      name: lsa
      required: false
      schema:
        type: string
        example: "A  1"

    customHeaders:
      in: query
      name: CustomHeaders
      required: false
      schema:
        type: boolean
        example: true